@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.App {
  min-width: 360px;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
  background-color: rgb(247, 247, 247);
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px;;
  overflow: auto;
}